apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ app_name }}
  namespace: {{ k8s_namespace }}
spec:
  replicas: 2
  selector:
    matchLabels:
      app: {{ app_name }}
  template:
    metadata:
      labels:
        app: {{ app_name }}
    spec:
      containers:
        - name: {{ app_name }}
          image: {{ docker_image }}
          ports:
            - containerPort: 8080
          env:
            - name: ENV
              value: "{{ env }}"
